.main-body-header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #d3d3d3d3;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.body-title {
  font-weight: 200;
}

.main-body-header-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sort-box {
  margin-right: 20px;
}

.sort-title {
  font-size: 12px;
  margin-right: 5px;
}

.search-title {
  font-size: 12px;
  margin-right: 5px;
}

.input {
  border: 2px solid grey;
}
