.main-body-container {
  margin-top: 15px;
  padding: 25px;
  padding-bottom: 40px;
}

.cards-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5%;
}

@media (max-width: 600px) {
  .cards-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .main-body-container {
    margin-top: 5px;
    padding: 10px;
  }
}

@media (max-width: 1024px) and (min-width: 600px) {
  .cards-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 3%;
  }
  .main-body-container {
    margin-top: 5px;
    padding: 10px;
  }
}
